@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@layer base {
  a[href],
  button:not(:disabled),
  [role='button']:not([aria-disabled='true']),
  [role='link']:not([aria-disabled='true']) {
    cursor: pointer;
  }

  button:disabled,
  [role='button'][aria-disabled='true'] {
    cursor: not-allowed;
  }

  [role='link'][aria-disabled='true'] {
    cursor: default;
  }
}
